{% extends 'food/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
   

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</head> 
<body>

{% block body %}

{% for item in item_list %}

<div class="row">
    <div class="col-md-3 offset-md-2" >
        <img class="card--bs-card-height" height="250px"  src="{{ item.item_image }}"/>
    </div>

    <div class="col-md-4">
        <h1>{{ item.item_name }}</h1>
        <h2>{{ item.item_desc }}</h2>
        <h3>₹{{ item.item_price }}</h3>
        <h6>{{ item.user_name }}</h6>
    </div>
    <div class="col-md-2">
        <a href="{% url 'food:detail' item.id %}" class="btn btn-success" >Detail</a>

    </div>
</div>





{% comment %} this is old code
    <ul>
        <li>
            <!-- <a href="/food/{{ item.id }}">{{ item.id }} -- {{ item.item_name }}</a>   # this is hardcoded -->
            <a href="{% url 'detail' item.id %}">{{ item.id }} -- {{ item.item_name }}</a>
        </li>
    </ul> {% endcomment %}
    
{% endfor %}
{% endblock%}
</body>
</html>